html {
    scroll-behavior: smooth;
    width: 100%;
  }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}


/* Header */

header {
    background-image: url("../src-images/educationPattern.png");
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 100%;
}


.headerTop {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
    width: 100vw;
    background-image: url("../src-images/educationPattern.png");
}

div.logo {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

nav {
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

article {
    padding-top: 15%;
    padding-bottom: 12%;
    color: #541212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article .myName {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoText {
    font-family: 'Nova Slim', cursive;
    color: #8B9A46;
}

nav ul {
    display: flex;
    min-width: 70%;
    justify-content: space-around;
    align-items: center;
}

#myLogo {
    max-width: 50%;
}

* a {
    text-decoration: none;
}

#logoText h2 {
    font-size: 1vw;
    line-height: 0em;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

/* input[type="radio"] {
    appearance: none;
    display: none;
} */

/* label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 40px;
    text-align: center;
    overflow: hidden;
    transition: linear 0.3s;
    top: 30px;
} */

/* input[type="radio"]:checked + label > a{
    color:#8B9A46;
    font-weight: 900;
    transition: 0.3s;
} */

nav ul li a {
    color:#541212;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: bolder;
}

/* nav ul li:first-child > a {
    color: #8B9A46;
    font-weight: bolder;
} */

nav ul li:hover > a,
nav ul li:focus > a {
    color:#8B9A46;
    font-weight: bolder;
}

article .myName h1 {
    font-size: 3em;
    line-height: 0px;
}

article .myName h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
}


.download-btn {
    font-size: 18px;
    padding: 20px 15px;
    color: #fff;
    background-color: rgba(84, 18, 18, .7);
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.download-btn:hover {
    background-color: #8B9A46;
}


/* main section  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    font-size: 18px;
    line-height: 1.5em;
    max-width: 100%;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    align-items: center;
    padding: 150px 0;
}

.aboutMeIcon, .aboutMeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutMe .aboutMeIcon {
    border-bottom: 3px solid #8B9A46;
    padding-bottom: 1%;
    width: 50%;
}

main .icons {
    font-size: 35px;
    color: #541212
}

.experience {
    background-color: #EEEEEE;
    padding: 155px 0;
    display: flex;
    width: 100%;
}

.experienceHead {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experienceBody {
    width: 75%;
    border-left: 1px dashed #541212;
    text-align: justify;
}

main h2 {
    color: #541212;
}

.education {
    display: flex;
    width: 100%;
    padding: 150px 0;
}

.educationHead {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.educationBody {
    width: 75%;
    border-left: 1px dashed #541212;
    text-align: justify;
}

.edu, .course {
    display: flex;
    align-items: center;
}

.edu {
    padding-bottom: 3%;
}

.projects {
    background-color: #EEEEEE;
    display: flex;
    max-width: 100%;
    padding: 150px 0;
}

.projectsHead {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectsBody {
    width: 75%;
    border-left: 1px dashed #541212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 70vh;
}

.projectsBody .projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectList {
    transition: all 0.5s ease;
}

.projectsBody .projectList img{
    width: 20vw;
}

.portfolioImg {
    background-color: gray;
    width: 561px;
    height: 260px;
}

.over {
    position: absolute;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    transition: padding 0.5s;
    padding: 0;
  }
  
  .over:hover {
    padding: 30px; 
  }

.over a {
    color: #fff;
}


/* Contact Me */
.contactMe {
    display: flex;
    max-width: 100%;
    height: 70vh;
}

.contactMeContainer {
    display: flex;
    width: 60vw;
    height: 60vh;
    margin: auto;
}

.contact-links{
    width: 50%;
    padding: 8% 5% 10% 5%;
}

.contact-links {
    background-color: #EEEEEE;
    background-image: url("../src-images/educationPattern.png");
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links h2 {
    color: #541212;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.contact-form {
    background-color: #EEEEEE;
    border-radius: 0 10px 10px 0;
    display: flex;
    width: 100%;
    padding-top: 3%;
}

.contact-links .links {
    width: 65%;
    padding-top: 10px;
}

.contact-links .links ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

.contact-links .links ul li a {
    color:rgba(84, 18, 18, .7);
    transition: all 0.5s ease;
}

.contact-links .links ul li a:hover {
    color: #8B9A46;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

form input{
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(84, 18, 18, .1);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    color: #541212;
    width: 70%;
}

form textarea {
    height: 200px;
    outline: none;
    background-color: rgba(238, 238, 238, .1);
    border: 1px solid rgba(84, 18, 18, .1);
    color:#541212;
    font-size: 1.2rem;
    box-sizing: border-box;
    resize: none;
    width: 70%;
    margin: 10px 0;
}

form button {
    width: 200px;
    height: 40px;
    background-color: rgba(84, 18, 18, .7);
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    transition: all 0.5s ease;
} 

form button:hover {
    background-color: #8B9A46;
    cursor: pointer;
}


footer {
    background-image: url("../src-images/educationPattern.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

footer .copyRight {
   color: #541212;
   font-weight: bolder;
   font-size: 20px;
   font-family: 'Kodchasan', sans-serif;
}

footer .soical a {
    color:rgba(84, 18, 18, .7);
    font-size: 45px;
    transition: all 0.5s ease;
}

footer .soical a:hover {
    color: #8B9A46;
}


/* Media Queries */

@media (min-width: 375px) {

    .headerTop {
        height: 80px;
        /* border: 1px solid black; */
        width: 100%;
        }

    header, 
    article {
        width: 100%;
    }

    div.logo {
        width: 50%;
        display: flex;
        text-align: left;
        padding-left: 2%;
    }

    nav {
        width: 50%;
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: right;
    }

    #logoText {
        /* border: 1px solid black; */
        padding-left: 9%;
    }

    #logoText h2 {
        font-size: 1.8vw;
        line-height: 0em;
        
    }

    .menu {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        overflow: hidden;
        padding-right: 10px;
    }

    .normalMenu, #check{
        display: none;
    }

    .button {
        background-color: rgba(84, 18, 18, .7);
        display: inline-block;
        cursor: pointer;
        transition: all 0.2s ease-in;
        line-height: 10px;
        padding: 11px 10px;
        padding-top: 5px;
        border-radius: 4px; 
        z-index: 201;
    }

    .button:hover{
        background: #8B9A46;;
    }

    .button span{
        height: 3px;
        width: 100%;
        background: white;
        display: inline-block;
        transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
    }

    #check:checked ~ .button span:nth-child(1){
        width: 100%;
        transform: rotate(45deg) translateY(7px) translateX(7px);
    }
    #check:checked ~ .button span:nth-child(2){
        width: 0;
    }
    
    #check:checked ~ .button span:nth-child(3){
        width: 100%;
        transform: rotate(-45deg) translateY(-8px) translateX(8px);
    }

    .listNav {
        text-align: left;
        overflow: hidden;
        transition: all 0.4s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,.3);
        height: 0;
    }

    .listNav a{
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 18px;
        transition: all 0.4s cubic-bezier(.22,.43,.35,1.5);
        opacity: 0;
        transform: scale(0);
        transform-origin: top;
        text-align: center;
        border-bottom: 1px solid #b4ac97;
    }

    #check:checked ~ .listNav{
        height: 260px;
    }

    #check:checked ~ .listNav a{
        padding: 10px;
        opacity: 1;
        transform: scale(1);
    }

    article {
        flex-direction: column;
        justify-content: center;
        padding-top: 120px;
    }

    article picture {
        display: flex;
        justify-content: center;
    }

    article .myImage img {
        width: 60%;
    }

    article .myName {
        padding-left: 0;
        padding-top: 20px;

    }

    article .myName h1 {
        font-size: 1.7em;
        line-height: 0px;
    }
    
    article .myName h3 {
        font-size: 1em;
        padding-bottom: 10px;
        text-align: center;
    }

    .experience, .education {
        flex-direction: column;
        justify-content: center;
    }

    .experienceHead,
    .experienceBody,
    .educationHead,
    .educationBody,
    .projectsHead,
    .projects{
        width: 100%;
    }

    .aboutMeText {
        text-align: justify;
    }

    .experienceBody {
        text-indent: -5px;
        text-align: left;
    }

    .experienceBody ul {
        padding-right: 20px;
        font-weight: bolder;
    }

    .experienceBody .normalP,
    .edu .normalP,
    .course .normalP {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 10px;
        padding-left: 20px;
        text-align: left;
    }

    .experienceBody .boold {
        padding-right: 10px;
        padding-left: 20px;
        font-weight: bolder;
    }

    .displayNon {
        display: none;
    }

    .edu, .course {
        display: flex;
        /* flex-direction: column; */
        text-align: center;
    }

    .edu img, .course img {
        width: 100px;
    }

    .experienceBody,
    .educationBody,
    .educationBody,
    .projectsBody {
        border: none;
    }

    .projects {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 200vh;
        padding: 50px 0;
    }

    .projectsHead {
        width: 100%;
    }

    .projectsBody {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        height: 200vh;
        
    }

    .projectsBody .projectList img  {
        width: 90vw;
    }

    .contactMe {
        margin-bottom: 200px;
    }

    .contact-links {
        display: none;
    }

    .contactMeContainer {
       width: 100vw;
       flex-direction: column;
    }

    .forContactForm {
        font-weight: bolder;
        font-size: 1.5em;
    }

    .contact-form {
        background-image: url("../src-images/educationPattern.png");
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    footer {
        display: flex;
        flex-direction: column;
        /* height: 30vh; */
    }





}
