@font-face{
    font-family: "JF Flat Regular";
    src:url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.ttf) format('truetype'), url(../fonts/JF-Flat-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #2d3c49;
    line-height: 1.5;
}


.logo_container{
     height: 150px;
}

.logoImg{
    width: 33%;
    height: 90%;
    position: relative;
    top: 10%;
}



.my_name{
    position: relative;
    left: 20%;
    top: 20%;
    width: 78%;
    font-size: 290%; 
}

 .job{
    font-size: 150%;
    position: relative;
    left: 52%;
    top: 20%;
    width: 46%;
}

hr.line{
    width: 100%;
    border: 2px solid #7d97ad;
    border-radius: 5px;
    margin-top: 0;
}



.main_image{
    width: 100%;
    border-radius: 10px;
}

.main_section{
    margin:0;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}

.main_topic_container{
   padding: 0;
   margin: 0;
   margin-bottom: 30px;        
}

.main_topic_container h1{
    color: #02b3e4;
    position: relative;
    left: 20px;
    margin:0;
    padding: 0;
}

.small-images{
    width: 35%;
}

.details_container{
    padding: 0;
    margin: 0;
    text-align: center;
    height: 600%;
}


.custom_p{
    width: 60%;
    text-align: justify-all;
    position: relative;
    left: 80px;
}

.bold_text{
    font-weight: bold;
}


.custom_footer{
    margin: 0;
    text-align: center;
    border-radius: 0;
}

.custom_btn_twitter{
    color: #02b3e4;
}

.custom_btn_linkedin{
    color: #0082c8;
}

.custom_btn_github{
    color: #2d3c49;
}

.social_icon{
    margin-bottom: 7px;
} 



/*******************************************************************************
*****************************************

 Media Query:

==> Mobile: Google Nexus 5
==> Tablet: Apple iPad
==> Desktop

 ****************************************
 ******************************************************************************/

/* Mobile: Google Nexus 5 */
@media screen and (max-width: 360px){

    .logo_container{
        height: 50%;
        text-align: center;
        padding: 0;
    }

    .logoImg{
        width: 35%;
        padding: 0;
        margin: 0;
    }

    .about_me{
        text-align: center;
        height: 70px;
    }

    .my_name{
        font-size: 130%;
        position: relative;
        left: 11%;
        top: 0%;
    }

    .job{
        font-size: 80%;
        position: relative;
        left: 25%;
        top: 0%;
    }

    .main_topic_container{
    width: 95%;
    }

    .main_topic_container h1{
    font-size: 130%;

    }

    .custom_p{
    left: 60px;
    }

}

/* Tablet: Apple iPad */
@media screen and (max-width: 768px){
    
    .logoImg{
        width:98%;
        height: 100%
    }


    .my_name{
        font-size: 200%;
        left: 4px;
        margin-top: 15px;
    }

    .job{
        font-size: 107%;
        left: 80px;
    }

    hr.line{
        margin-top: 20px;
    }

    .small-images{
        width: 27%;
    }

    .details{
        margin-bottom: 25px;
    }

    .custom_p{
        left: 150px;
    }

}

/* Desktop */
@media screen and (max-width: 1190px){

     .my_name{
        font-size: 272%;
        left: 120px;
        margin-top: 10px;
    }

    .job{
        font-size: 145%;
        left: 290px
    }

    .logoImg{
        width: 44%;
    }
}
